<br/>
        <h2>Queued Tracks</h2>
          <table class="table">
            <thead>
              <th>Artist</th>
              <th>Song</th>
              <th>Album</th>
              <th>Label</th>
              <th>On Device</th>
            </thead>
            <tbody>
              <% waiting_tracks.each do |t| %>
                <tr><td><%= t.artist %></td>
                <td><%= t.song %></td>
                <td><%= t.album %></td>
                <td><%= t.label %></td>
                <td><%= device_mapping[t.device].to_s.upcase || "Unknown" %></td>
								<!-- key shouldn't be here, we would normally assume the user had already been authed-->
								<td>
									<a href="#" class="btn" onclick="$.post('/stations/kdvs','key=9wk3u5d&timestamp=null&device=<%= t.device %>');$(this).parent().parent().hide();return false;"><i class="icon-play"></i> Play</a>
								</td>
								<!--<td><a href="#" onclick="return false;">&times;</a></td>-->
								</tr>
              <% end %>
            </tbody>
          </table>
          </div>

