<br/>
        <h2>Queued Tracks</h2>
          <table class="table">
            <thead>
              <th>Artist</th>
              <th>Song</th>
              <th>Album</th>
              <th>Label</th>
              <th>On Device</th>
							<th></th>
            </thead>
            <tbody>
              <% waiting_tracks.each do |t| %>
                <tr><td><%= t.artist %></td>
                <td><%= t.song %></td>
                <td><%= t.album %></td>
                <td><%= t.label %></td>
                <td>
								<%= device_mapping[t.device].to_s.upcase || "Unknown" %>
								</td>
								<td>
									<div class="btn-group pull-right">
									<a href="#" class="btn" onclick="playTrack(<%= t.device %>);$(this).parent().parent().parent().hide();return false;"><i class="icon-play"></i> Play</a><a href="#" class="btn" onclick="removeTrack(<%= t.device %>);$(this).parent().parent().parent().hide();return false;"><i class="icon-remove"></i> Remove</a>
									</div>
								</td>
								</tr>
              <% end %>
            </tbody>
          </table>
          </div>
